body{
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.6;
    text-align: center;
    background-image: url(stye1.jpg);
}

    header{
        color: black;
        padding: 20px;
        text-align: center;
        padding: 20px;
    }
nav ul li {
    display: block;
    margin: 10px;
}
    